<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="../css/mendeleev.css" rel="stylesheet">
        <title>Таблица Менделеева</title>
    </head>
    <body>
        <table border="2">
            <tr>
                <td>1</td>
                <td>1</td>
                <th colspan="3">I</th>
                <th colspan="15" rowspan="3">ПЕРИОДИЧЕСКАЯ СИСТЕМА ЭЛЕМЕНТОВ Д. И. МЕНДЕЛЕЕВА</th>
                <th colspan="3">VII</th>
                <th colspan="3">VIII</th>
                <td colspan="6" style="border-bottom-style: hidden;">
            </td>
            </tr>
            <tr>
                <td rowspan="3">1</td>
                <td rowspan="3" style="border-right: 2px solid black">1</td>
                <td rowspan="2" class="elementSign borderTopLeft">H</td>
                <td rowspan="2" class="topCenter">1</td>
                <td rowspan="2" class="topRight">1,008</td>
                <td rowspan="2" class="topLeft"></td>
                <td rowspan="2" class="topCenter"></td>
                <td rowspan="2" class="elementSign topRight">(H)</td>
                <td rowspan="2" class="topLeft">4,003</td>
                <td rowspan="2" class="topCenter">2</td>
                <td rowspan="2" class="elementSign topRight">He</td>
                <td colspan="2" style="border-bottom-style: hidden">атомный номер</td>
                <td style="border-style: hidden"></td>
                <td colspan="3" style="border-bottom-style: hidden;">обозначение элемента</td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="3" class=" bottomTitle">ВОДОРОД</td>
                <th colspan="3">II</th>
                <th colspan="3">III</th>
                <th colspan="3">IV</th>
                <th colspan="3">V</th>
                <th colspan="3">VI</th>
                <td colspan="3"></td>
                <td colspan="3" class="bottomTitle">ГЕЛИЙ</td>
                <td colspan="6" style="border-top-style: hidden;"></td>
            </tr>
            <tr>
                <td rowspan="3">2</td>
                <td rowspan="3" style="border-right: 2px solid black">2</td>
                <td rowspan="2" class="elementSign topLeft">Li</td>
                <td rowspan="2" class="topCenter">3</td>
                <td rowspan="2" class="topRight">6,941</td>
                <td rowspan="2" class="elementSign topLeft">Be</td>
                <td rowspan="2" class="topCenter">4</td>
                <td rowspan="2" class="topRight">9,0122</td>
                <td rowspan="2" class="topLeft">10,81</td>
                <td rowspan="2" class="topCenter">5</td>
                <td rowspan="2" class="elementSign topRight">B</td>
                <td rowspan="2" class="topLeft">12,01</td>
                <td rowspan="2" class="topCenter">6</td>
                <td rowspan="2" class="elementSign topRight">C</td>
                <td rowspan="2" class="topLeft">14,01</td>
                <td rowspan="2" class="topCenter">7</td>
                <td rowspan="2" class="elementSign topRight">N</td>
                <td rowspan="2" class="topLeft">16,00</td>
                <td rowspan="2" class="topCenter">8</td>
                <td rowspan="2" class="elementSign topRight">O</td>
                <td rowspan="2" class="topLeft">19,00</td>
                <td rowspan="2" class="topCenter">9</td>
                <td rowspan="2" class="elementSign topRight">F</td>
                <td rowspan="2" class="topLeft">20,18</td>
                <td rowspan="2" class="topCenter">10</td>
                <td rowspan="2" class="elementSign topRight">Ne</td>
                <td colspan="2" rowspan="3" style="border-top-style: hidden;"></td>
                <td rowspan="2" class="topLeft">12,01</td>
                <td rowspan="2" class="topCenter">6</td>
                <td rowspan="2" class="elementSign topRight">C</td>
                <td rowspan="3" style="border-top-style: hidden; border-bottom-style: hidden;"></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="3" class="bottomTitle">ЛИТИЙ</td>
                <td colspan="3" class="bottomTitle">БЕРРИЛИЙ</td>
                <td colspan="3" class="bottomTitle">БОР</td>
                <td colspan="3" class="bottomTitle">УГЛЕРОД</td>
                <td colspan="3" class="bottomTitle">АЗОТ</td>
                <td colspan="3" class="bottomTitle">КИСЛОРОД</td>
                <td colspan="3" class="bottomTitle">ФТОР</td>
                <td colspan="3" class="bottomTitle">НЕОН</td>
                <td colspan="3" class="yellow" style="border-bottom: 2px solid black;">УГЛЕРОД</td>
            </tr>
            <tr>
                <td rowspan="3">3</td>
                <td rowspan="3" style="border-right: 2px solid black">3</td>
                <td rowspan="2" class="elementSign topLeft">Na</td>
                <td rowspan="2" class="topCenter">11</td>
                <td rowspan="2" class="topRight">22,99</td>
                <td rowspan="2" class="elementSign topLeft">Mg</td>
                <td rowspan="2" class="topCenter">12</td>
                <td rowspan="2" class="topRight">24,312</td>
                <td rowspan="2" class="topLeft">26,98</td>
                <td rowspan="2" class="topCenter">13</td>
                <td rowspan="2" class="elementSign topRight">Al</td>
                <td rowspan="2" class="topLeft">28,09</td>
                <td rowspan="2" class="topCenter">14</td>
                <td rowspan="2" class="elementSign topRight">Si</td>
                <td rowspan="2" class="topLeft">30,97</td>
                <td rowspan="2" class="topCenter">15</td>
                <td rowspan="2" class="elementSign topRight">P</td>
                <td rowspan="2" class="topLeft">32,06</td>
                <td rowspan="2" class="topCenter">16</td>
                <td rowspan="2" class="elementSign topRight">S</td>
                <td rowspan="2" class="topLeft">35,45</td>
                <td rowspan="2" class="topCenter">17</td>
                <td rowspan="2" class="elementSign topRight">Cl</td>
                <td rowspan="2" class="topLeft">39,95</td>
                <td rowspan="2" class="topCenter">18</td>
                <td rowspan="2" class="elementSign topRight">Ar</td>
                <td colspan="2" style="border-top-style: hidden; border-right-style: hidden; border-bottom-style: hidden;"></td>
                <td colspan="3" style="border-bottom-style: hidden;"></td>
                <td style="border-top-style: hidden; border-left-style: hidden; border-bottom-style: hidden;"></td>
            </tr>
            <tr></tr>
            <tr>                
                <td colspan="3" class="bottomTitle">НАТРИЙ</td>
                <td colspan="3" class="bottomTitle">МАГНИЙ</td>
                <td colspan="3" class="bottomTitle">АЛЮМИНИЙ</td>
                <td colspan="3" class="bottomTitle">КРЕМНИЙ</td>
                <td colspan="3" class="bottomTitle">ФОСФОР</td>
                <td colspan="3" class="bottomTitle">СЕРА</td>
                <td colspan="3" class="bottomTitle">ХЛОР</td>
                <td colspan="3" class="bottomTitle">АРГОН</td>
                <td style="border-top-style: hidden;"></td>
                <td colspan="5" style="border-top-style: hidden; border-left-style: hidden;">относительная атомная масса</td>
            </tr>
            <tr>
                <td rowspan="6">4</td>
                <td rowspan="3" style="border-right: 2px solid black">4</td>
                <td rowspan="2" class="elementSign topLeft">K</td>
                <td rowspan="2" class="topCenter">19</td>
                <td rowspan="2" class="topRight">39,102</td>
                <td rowspan="2" class="elementSign topLeft">Ca</td>
                <td rowspan="2" class="topCenter">20</td>
                <td rowspan="2" class="topRight">40,08</td>
                <td rowspan="2" class="elementSign topLeft">Sc</td>
                <td rowspan="2" class="topCenter">21</td>
                <td rowspan="2" class="topRight">44,96</td>
                <td rowspan="2" class="elementSign topLeft">Ti</td>
                <td rowspan="2" class="topCenter">22</td>
                <td rowspan="2" class="topRight">47,90</td>
                <td rowspan="2" class="elementSign topLeft">V</td>
                <td rowspan="2" class="topCenter">23</td>
                <td rowspan="2" class="topRight">50,94</td>
                <td rowspan="2" class="elementSign topLeft">Cr</td>
                <td rowspan="2" class="topCenter">24</td>
                <td rowspan="2" class="topRight">52,00</td>
                <td rowspan="2" class="elementSign topLeft">Mn</td>
                <td rowspan="2" class="topCenter">25</td>
                <td rowspan="2" class="topRight">54,94</td>
                <td rowspan="2" class="elementSign topLeft">Fe</td>
                <td rowspan="2" class="topCenter">26</td>
                <td rowspan="2" class="topRight">55,85</td>
                <td rowspan="2" class="elementSign topLeft">Co</td>
                <td rowspan="2" class="topCenter">27</td>
                <td rowspan="2" class="topRight">58,93</td>
                <td rowspan="2" class="elementSign topLeft">Ni</td>
                <td rowspan="2" class="topCenter">28</td>
                <td rowspan="2" class="topRight">58,70</td>
            </tr>
            <tr></tr>
            </tr>
            <tr>
                <td colspan="3" class="bottomTitle">КАЛИЙ</td>
                <td colspan="3" class="bottomTitle">КАЛЬЦИЙ</td>
                <td colspan="3" class="bottomTitle">СКАНДИЙ</td>
                <td colspan="3" class="bottomTitle">ТИТАН</td>
                <td colspan="3" class="bottomTitle">ВАНАДИЙ</td>
                <td colspan="3" class="bottomTitle">ХРОМ</td>
                <td colspan="3" class="bottomTitle">МАРГАНЕЦ</td>
                <td colspan="3" class="bottomTitle">ЖЕЛЕЗО</td>
                <td colspan="3" class="bottomTitle">КОБАЛЬТ</td>
                <td colspan="3" class="bottomTitle">НИКЕЛЬ</td>
            </tr>
            <tr>
                <td rowspan="3" style="border-right: 2px solid black">5</td>
                <td rowspan="2" class="topLeft">63,55</td>
                <td rowspan="2" class="topCenter">29</td>
                <td rowspan="2" class="elementSign topRight">Cu</td>
                <td rowspan="2" class="topLeft">65,38</td>
                <td rowspan="2" class="topCenter">30</td>
                <td rowspan="2" class="elementSign topRight">Zn</td>
                <td rowspan="2" class="topLeft">69,72</td>
                <td rowspan="2" class="topCenter">31</td>
                <td rowspan="2" class="elementSign topRight">Ga</td>
                <td rowspan="2" class="topLeft">72,59</td>
                <td rowspan="2" class="topCenter">32</td>
                <td rowspan="2" class="elementSign topRight">Ge</td>
                <td rowspan="2" class="topLeft">74,92</td>
                <td rowspan="2" class="topCenter">33</td>
                <td rowspan="2" class="elementSign topRight">As</td>
                <td rowspan="2" class="topLeft">78,96</td>
                <td rowspan="2" class="topCenter">34</td>
                <td rowspan="2" class="elementSign topRight">Se</td>
                <td rowspan="2" class="topLeft">79,90</td>
                <td rowspan="2" class="topCenter">35</td>
                <td rowspan="2" class="elementSign topRight">Br</td>
                <td rowspan="2" class="topLeft">83,80</td>
                <td rowspan="2" class="topCenter">36</td>
                <td rowspan="2" class="elementSign topRight">Kr</td>
                <td rowspan="3" colspan="6"></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="3" class="bottomTitle" style="text-align: right">МЕДЬ</td>
                <td colspan="3" class="bottomTitle" style="text-align: right">ЦИНК</td>
                <td colspan="3" class="bottomTitle">ГАЛЛИЙ</td>
                <td colspan="3" class="bottomTitle">ГЕРМАНИЙ</td>
                <td colspan="3" class="bottomTitle">МЫШЬЯК</td>
                <td colspan="3" class="bottomTitle">СЕЛЕН</td>
                <td colspan="3" class="bottomTitle">БРОМ</td>
                <td colspan="3" class="bottomTitle">КРИПТОН</td>
            </tr>
        </table>
    </body>
</html>